In [7]:
import pandas as pd
import os

df = pd.read_csv('data/tabular_data/clean_listing.csv')
print(df.head())
df.groupby('Category').count()

                                     ID    Category  \
0  f9dcbd09-32ac-41d9-a0b1-fdb2793378cf  Treehouses
1  1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd  Treehouses
2  d577bc30-2222-4bef-a35e-a9825642aec4  Treehouses
3  ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc  Treehouses
4  cfe479b9-c8f8-44af-9bc6-46ede9f14bb5  Treehouses

                                              Title  \
0                 Red Kite Tree Tent - Ynys Affalon
1    Az Alom Cabin - Treehouse Tree to Nature Cabin
2                         Cabane Entre Les Pinsüå≤üèïÔ∏èüå≤
3  Tree Top Cabin with log burner & private hot tub
4                       Treehouse near Paris Disney

                                         Description  \
0  Escape to one of these two fabulous Tree Tents...
1  Come and spend a romantic stay with a couple o...
2  Rustic cabin between the pines, 3 meters high ...
3  The Tree top cabin is situated in our peaceful...
4  Charming cabin nestled in the leaves, real unu...

                                           Amenities  \
0  ['What this place offers', 'Bathroom', 'Shampo...
1  ['What this place offers', 'Bedroom and laundr...
2  ['What this place offers', 'Scenic views', 'Ga...
3  ['What this place offers', 'Bathroom', 'Hot wa...
4  ['What this place offers', 'Bathroom', 'Hair d...

                                      Location  guests  beds  bathrooms  \
0             Llandrindod Wells United Kingdom     2.0   1.0        1.0
1                  Guyonvelle Grand Est France     3.0   3.0        0.0
2                     Duclair Normandie France     4.0   2.0        1.5
3                Barmouth Wales United Kingdom     2.0   1.0        1.0
4  Le Plessis-Feu-Aussoux √éle-de-France France     4.0   3.0        1.0

   Price_Night  Cleanliness_rating  Accuracy_rating  Communication_rating  \
0          105                 4.6              4.7                   4.3
1           92                 4.3              4.7                   4.6
2           52                 4.2              4.6                   4.8
3          132                 4.8              4.9                   4.9
4          143                 5.0              4.9                   5.0

   Location_rating  Check-in_rating  Value_rating  amenities_count  \
0              5.0              4.3           4.3               13
1              4.9              4.7           4.5                8
2              4.8              4.8           4.7               51
3              4.9              5.0           4.6               23
4              4.7              5.0           4.7               32

                                                 url  bedrooms
0  https://www.airbnb.co.uk/rooms/26620994?adults...       1.0
1  https://www.airbnb.co.uk/rooms/27055498?adults...       1.0
2  https://www.airbnb.co.uk/rooms/51427108?adults...       1.0
3  https://www.airbnb.co.uk/rooms/49543851?adults...       1.0
4  https://www.airbnb.co.uk/rooms/935398?adults=1...       2.0

,ID,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
Category,,,,,,,,,,,,,,,,,,
Amazing pools,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166
Beachfront,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124
Chalets,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192
Offbeat,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165,165
Treehouses,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183

In [8]:
166+124+192+165+183

830

In [9]:
df.groupby('bedrooms').count()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url
bedrooms,,,,,,,,,,,,,,,,,,
1.0,508,508,508,508,508,508,508,508,508,508,508,508,508,508,508,508,508,508
2.0,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194,194
3.0,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76
4.0,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
5.0,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
6.0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
7.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [12]:
(508+194)/830

0.8457831325301205

In [13]:
508/830

0.6120481927710844